/* import the poppins fonts from the google fonts and use Regular 400, Medium 500, Semibold 600 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* set some predefined value for font-size, font-weight, color, margin*/
:root {
  --header-height: 3rem;

  /* font family */
  --body-font--: "Poppins", sans-serif;
  --title-color: #000000;
  --text-color: #6d6a7c;
  --text-color-light: #a19fad;
  --body-color: #ffffffc9;
  --dark-blue-color: #300a6e;
  --light-blue-color: #0b00cf;
  --dark-red-color: #c10a2b;
  --light-red-color: #ff2d2b;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px */
  --extra-big-font-size: 4rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* margin value(for margin)*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* device max width : small/medium/large/extralarge */
  /* bootstrap device screen size for reference */
  /*    sm-screen: 575.5px;
        md-screen: 767.5px;
        lg-screen: 991.5px;
        el-screen: 1199.5px; */
}

@font-face {
  font-family: 'Codec Pro';
  src: url('../fonts/codec-pro-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* predefined font size for large screen to make sure our website is responsive */
@media screen and (min-width: 968px) {
  :root {
    --extra-big-font-size: 5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0%;
  overflow-x: clip;
}

/* Predefined value for the body margin  */
body {
  margin: 0;
  font-family: var(--body-font--);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--title-color);
}

/* predefined font color and font weight for h1,h2,h3,h4 */
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

img {
  max-width: 100%;
  height: auto;
}

/* predefined padding size for the section */
.section {
  padding: 2rem 0 4rem;
}

.fs-1 {
  font-family:'Codec Pro', sans-serif;
}

/* predefined font size for section title */
.section_title {
  font-size: var(--big-font-size);
}

/* predefined font size and margin bottom for section title */
.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

/* to fix the title and subtitle for each section to be center */
.section_title,
.section_subtitle {
  text-align: center;
}

/* to fix the content for each section in the same alignment */
.section_container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

/* scroll-header */
.scroll-header {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

/*  =================== 
    PRELOADER Section 
    ===================  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
  width: 50px;
  height: 50px;
  background-color: #ae1d23;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*  =================== 
    HEADER Section 
    ===================  */

.container-xxl {
  background-color: #06114F;
  position: fixed;
  padding-bottom: 0px;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

#navigation-logo {
  width: 2in;
  transform-origin: left top;
  transform: scale(1.5);
  padding-bottom: 15px;
}

@media screen and (max-width: 767.5px) {
  #main-nav {
    padding-bottom: var(--mb-1);
  }
}

.nav-item a {
  font-family: var(--body-font--);
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
}

.nav-item a:hover {
  color: rgb(117, 99, 189);
}


.navbar-toggler {
  background-color: black; /* Set background to black */
  border: none; /* Optional: Remove border */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
  color: rgb(117, 99, 189);
}

.navbar .nav-link {
  color: #ffffff; /* White text for visibility */
  font-weight: 500; /* Slightly bold for emphasis */
}

/* Style for the Sign Out button */
#logout-btn .btn-outline-danger {
  color: #ffffff; /* White text for better contrast */
  border-color: #3b52ce; /* Bright red border */
  background-color: transparent; /* Transparent background */
}

#logout-btn .btn-outline-danger:hover {
  color: #ffffff; /* Keep white text on hover */
  background-color: #3b52ce; /* Fill with bright red on hover */
  border-color: #3b52ce; /* Keep border consistent */
}

/*===================================== HOMEPAGE SECTION =====================================*/

#home {
  position: relative;
  background: linear-gradient(to right, black 15%, #333a66 65%, #5f82f8 100%);
  color: white; /* Ensures text remains readable */
  overflow:hidden;
}

.home_bottom_right{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px; /* Adjust as needed */
  height: auto;
  z-index: 1;
  clip-path: inset(0 0 3.1% 0);
  pointer-events: none;
  margin-bottom: -25px; 
}

.tagline-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center; /* Centers the button horizontally relative to the text */
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the lines among themselves */
}

.tagline h1 {
  font-size: 4.5rem;
  font-family: 'Codec Pro', sans-serif;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center; /* Keeps the text left-aligned */
  color: transparent;
}

.gradient-background {
  background: linear-gradient(109.6deg, rgb(255, 255, 255) 11.2%, rgb(255, 255, 255) 53.7%, rgb(255, 255, 255) 100.2%);
  background-size: 800% 800%;
  -webkit-animation: gradient 12s ease-in-out infinite;
  animation: gradient 12s ease-in-out infinite;
}



@media screen and (min-width: 991.5px) {
  .floating-robot {
    position: absolute;
    right: 5%;
    top: 10%;
  }

  .robot {
    /* position: relative; */
    right: 5%; /* Moves it more to the right */
    top: 20px;
    width: clamp(250px, 50vw, 450px); /* Responsive width */
    animation: float 6s ease-in-out infinite;
  }

  .robot-shadow {
    position: absolute; /* Ensures it follows the robot */
    bottom: 10px; /* Adjust this value as needed */
    left: 55%;
    transform: translateX(-50%);
    width: 50%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    animation: float-shadow 6s ease-in-out infinite;
  }

  /* .chip {
    width: 280px;
  } */
}

@media screen and (max-width: 991.5px) {
  .robot {
    position: relative;
    top: 20px;
    width: 250px;
    animation: float 6s infinite;
  }

  .robot-shadow {
    position: absolute; /* Ensures it follows the robot */
    bottom: 10px; /* Adjust this value as needed */
    left: 55%;
    transform: translateX(-50%);
    width: 50%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    animation: float-shadow 6s ease-in-out infinite;
  }

  /* .chip {
    width: 280px;
  } */
}

@media screen and (max-width: 767.5px) {
  .robot {
    position: relative;
    top: 20px;
    width: clamp(200px, 100%, 250px);
    animation: float 6s ease-in-out infinite;
  }

  .robot-shadow {
    position: absolute; /* Ensures it follows the robot */
    bottom: 10px; /* Adjust this value as needed */
    left: 55%;
    transform: translateX(-50%);
    width: 50%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    animation: float-shadow 6s ease-in-out infinite;
  }

  /* .chip {
    width: 80%;
  } */
}

/* gradient animation */
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

/* float animation */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
  }
}

/* shadow animation */
@keyframes float-shadow {
  0% {
    height: 10px;
    width: 20%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  50% {
    height: 12px;
    width: 15%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
  }
  100% {
    height: 10px;
    width: 20%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.button_join {
  display: flex;
  align-items: center; /* Aligns content to the bottom */
  justify-content: center; /* Centers text and image */
  width: 250px;
  margin-top: 50px;
  transition: 2s;
  border-radius:25px;
  font-size: 1.8rem;
  font-family: 'Codec Pro', sans-serif;
  font-weight: 700;
  background: linear-gradient(90deg, #d7e7ff 0%, #7a9cff 33%, #4367ff 50%, #2c3b80 75%, #202020 100%);
}

.button_join img {
  width: 45px;
  height: 45px;
  align-items:flex-start;
  margin-left: 5px;
  transition: 2s;
  margin-bottom: 10px;;
}


.button_join:hover {
  width: 300px;
  transition: 2s;
  box-shadow: 0 0 10px var(--dark-blue-color);
  outline-color: #ffffff;
}

.btn-dangerA {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}

.area {
  background: #ffffff;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(48, 10, 110, 0.06);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}




/*===================================== ABOUTUS SECTION =====================================*/
/* Base Styles */
.aboutus-section {
  background: #000000;
  color: white;
  overflow: hidden;
  margin-top: 0;
  position: relative;
}

.aboutus-title {
  position: relative;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: var(--big-font-size);
  display: flex;
  justify-content: center;
  z-index: 2;
}

.aboutus-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.aboutus-content {
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 150%;
  font-size: var(--normal-font-size);
  text-align: justify;
  margin-top: 10px; /* Added px */
  margin-bottom: 4rem;
  padding: 40px 40px 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

/* Objective Section */
.objective-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.objective-textbox1,
.objective-textbox2,
.objective-textbox3 {
  box-sizing: border-box;
  width: 80%;
  background: #000000;
  padding: 20px 60px 20px 40px;
  border: 3px solid #4367ff !important;
  border-radius: 20px;
  margin: 10px;
  transition: all 0.5s ease;
  z-index: 2;
}

.objective-textbox1:hover,
.objective-textbox2:hover,
.objective-textbox3:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #90b3ef;
}

.objective-smalltitle {
  color: white;
  font-size: var(--h3-font-size);
  z-index: 2;
}

.objective-content {
  color: white;
  text-align: left;
  line-height: 150%;
  font-size: var(--normal-font-size);
  margin: 0;
  z-index: 2;
}

.objective-image {
  float: left;
  margin-right: 4rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* Responsive adjustments for small objective containers */
@media only screen and (max-width: 575.5px) {
  .objective-container {
    flex-direction: column;
  }
  .objective-image {
    margin-bottom: 2rem;
  }
}


@media only screen and (min-width: 768px) {
  .objective-image {
    display: flex;
  }
  .objective-smalltitle,
  .objective-content {
    display: flex;
  }
}

/* Aboutus content adjustments for medium screens */
@media screen and (max-width: 991.5px) {
  .aboutus-content {
    width: 85%;
    letter-spacing: 2px;
    line-height: 150%;
    font-size: var(--normal-font-size);
    text-align: justify;
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 40px 40px 0;
    display: flex;
    justify-content: center;
  }
  .objective-textbox1,
  .objective-textbox2,
  .objective-textbox3 {
    width: 80%;
    padding: 20px;
    border: 3px solid white;
    margin: 10px;
  }
}


.recap {
  position: relative;
  text-align: center;
  padding: 5px;
  z-index: 2;
}

.small-bulb-icon {  
  position: relative;
  top: 10px;
  left: 71.5rem;
  width: 40px;
  height: auto;
  z-index: 1;
}


.design-container.purple-blur-top-left {      
  position: relative; 
  margin-top: 0;
  left: 0;       
  width: 43rem; 
  height: 0;    
  bottom: 0;
  z-index: 1;
}


.design-container.purple-blur-bottom-right {     
  width: 80rem;
  height: 2rem;
  z-index: 1;
}


.design-container.purple-blur-top-left img {
  width: 50%;
  height: auto;
  display: block;
}

.design-container.purple-blur-bottom-right img {
  width: 200%;
  height: auto;
  display: block;
}

.purple-blur-bottom-right {
  bottom: 50rem;
  right: -10rem;
}

@media only screen and (max-width: 1400px) {
  .small-bulb-icon {
    left: 61rem !important; 
    width: 35px;   
  }
}
@media only screen and (max-width: 1200px) {
  .small-bulb-icon {
    left: 58rem !important; 
    width: 35px;   
  }
}
@media only screen and (max-width: 992px) {
  .small-bulb-icon {
    left: 43rem !important; 
    width: 35px;   
  }
}

@media only screen and (max-width: 767px) {
  .small-bulb-icon {
    left: 32rem !important; 
    width: 30px;   
  }
}

@media only screen and (max-width: 540px) {
  .small-bulb-icon {
    left: 29rem !important; 
    width: 25px;  
  }
}
@media only screen and (max-width: 450px) {
  .small-bulb-icon {
    left: 22rem !important; 
    width: 25px;  
  }
}
@media only screen and (max-width: 380px) {
  .small-bulb-icon {
    left: 19rem !important; 
    width: 25px;  
  }
}
@media only screen and (min-width: 1024px) {
  .design-container.purple-blur-bottom-right { 
    position: absolute;
    width: 80rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .design-container.purple-blur-top-left {
    
    width: 68rem;
    top: 1rem;
    left: 0rem;
  }
  .design-container.purple-blur-bottom-right { 
    position: relative; 
    width: 54rem !important;
    height: -2rem;
    right: -8rem;
    bottom: 20rem;
  }
}

@media only screen and (max-width: 769px) {
  .design-container.purple-blur-top-left {   
    width: 50rem;
    top: 0;
    left: 0rem;
  }
  .design-container.purple-blur-bottom-right { 
    position: relative;  
    width: 48rem;
    height: 0rem;
    right: -3rem;
    bottom: 30rem; 
  }
}

@media only screen and (max-width: 500px) {
  .design-container.purple-blur-top-left {
    width: 30rem; 
    left: 0;
    top: 0rem;  
}
  .design-container.purple-blur-bottom-right {
    position: relative !important;      
    width: 40rem !important;
    height:0rem;
    bottom: 25rem;
  }
}

/* ==================================== OVERVIEW SECTION ==================================== */

body {
  background-color: black; /* Ensures the whole page is black */
  color: white; /* Sets text to white so it's visible */
}

#overview {
  position: relative;
  background: url("/assets/images/OverviewBG.jpg") center/cover no-repeat;
  padding: 50px 0;
  background-size: 120%;
 
  min-height: 400px;
  z-index: -2;

}

.overview_icon{
  width: 70px;
  margin-bottom: 10px;
}

/* Fix for Overview Section */
.overview-section {
  background: black; 
  color: white; /* Change from black to white */
}
.overview_title h2 {
  font-size: var(--big-font-size);
  color: white;
}

.overview_flexbox {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.overview {
  display: flex;
  flex-direction: column;
  /* align is for y-axis */
  align-items: center;
  text-align: center;
  width: 40vh;
}
#overview {
  position: relative; /* Make this section the reference for absolutely positioned elements */
}

.svg-background {
  position: absolute; /* Position within the #overview section */
  top: 30%; /* Adjust this value for vertical placement within #overview */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -40%); /* Fine-tune the positioning */
  width: 50%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: -1; /* Push behind content */
}
.svg-background2 {
  position: absolute; /* Position within the #overview section */
  top: 60%; /* Adjust this value for vertical placement within #overview */
  left: 35%; /* Center horizontally */
  transform: translate(-50%, -40%); /* Fine-tune the positioning */
  width: 50%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: -1; /* Push behind content */
}

.svg-rbackground1 {
  position: absolute; /* Position within the #overview section */
  top: 65%; /* Adjust this value for vertical placement within #overview */
  left: 100%; /* Center horizontally */
  transform: translate(-50%, -40%); /* Fine-tune the positioning */
  width: 70%; /* Adjust width as needed */
  height: 100%; /* Maintain aspect ratio */
  z-index: -1; /* Push behind content */
}


.overview h3 {
  font-size: 1.3rem;
  color: white;
}

.overview div {
  font-size: 0.9rem;
}

.overview_icon {
  font-size: 3rem;
  color: white;
}



.prizepool.section_title {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 600;
}

.prizepool.section_subtitle {
  font-size: 1.3rem;
}

.prizepool.section_subtitle span {
  color: gold;
  font-size: 1.5rem;
  font-weight: 600;
}

.prizepool_container {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: baseline;
  gap: 50px;
  margin-bottom: 100px;
}

.prizepool_award {
  display: grid;
  justify-items: center;
  width: 200px;
  height: 200px;
  font-size: 1.75rem;
  font-weight: 600;
  gap: 15px;
}

.prizepool_award .amount_first {
  /* background-color: gold; */
  text-shadow: gold 1px 0 10px;
}

.prizepool_award .amount_second {
  /* background-color: #c0c0c0; */
  text-shadow: #c0c0c0 1px 0 10px;
}

.prizepool_award .amount_third {
  /* background-color: #cd7f32; */
  text-shadow: #cd7f32 1px 0 10px;
}

.prizepool_award {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prizepool_award.first img {
  width: 200px;
  height: 200px;
}

.prizepool_award.second img {
  width: 180px;
  height: 180px;
}

.prizepool_award.third img {
  width: 160px;
  height: 160px;
}

.milestone_title {
  margin-top: var(--mb-2-5);
}

.milestone_title div {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-blue-color);
}
.milestone_title .white-text {
  color: white ; /* Ensures "We" is white */
}

.milestone_title span {
  color: var(--dark-red-color);
}

.milestone_container {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin-top: var(--mb-1-5);
}

.wrappers {
  display: flex;
  background-color: transparent;
  gap: 80px;
}

/* .milestone {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em 0;
  position: relative;
  background: url('assets/images/card') no-repeat center;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: var(--dark-blue-color);
  border-bottom: 5px solid var(--dark-red-color);
  transition: 0.3s;
  animation: blurring 3s ease-in-out infinite;
} */

.milestone {
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  font-size: 16px;
  border-radius: 1em;
  background: url('../images/card.svg') no-repeat center;
  background-size: cover;
  padding: 10px 0; /* Ensures proper spacing */
  transition: transform 0.3s ease-in-out
}

.milestone_icon {
  width: 70px;
  margin-top: 3px;
  margin-bottom: 3px; /* Adjust icon spacing */
  margin-left: 25px;
}

.num {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 6px; /* Space between number & text */
  margin-left: 25px;
}

.text {
  font-size: 1rem;
  margin-bottom: 8px; /* Push text down slightly */
  margin-left: 25px;
}

.milestone:hover{
  transform: scale(1.1);
}


@keyframes blurring {
  0% {
    box-shadow: 0 0 9px var(--dark-blue-color);
  }
  50% {
    box-shadow: 0 0 10px var(--dark-red-color);
  }
  100% {
    box-shadow: 0 0 12px var(--dark-red-color);
  }
}

span.num {
  color: #fff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

span.text {
  color: #fff;
  font-size: 1em;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .overview_flexbox {
    display: grid;
  }
  .prizepool_container {
    display: flex;
    align-items: baseline;
    gap: 50px;
  }
  .milestone {
    display: flex;
    width: 180px;
    height: 180px;
  }
  .milestone_icon {
    width: 35px;
    margin-top: 3px;
    margin-bottom: 3px; /* Adjust icon spacing */
    margin-left: 12px;
  }
  .num {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 6px; /* Space between number & text */
    margin-left: 12px;
  }
  span.num {
    font-size: 1.75em;
  }
  span.text {
    font-size: 1em;
  }
  .wrappers {
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .prizepool_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prizepool_container {
    display: flex;
    flex-direction: column;
  }
  #prizepool_container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }
  #diamond {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
  }
  #gold {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
  }
  #silver {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
  }
  .milestone {
    width: 150px;
    height: 150px;
  }
  .milestone_icon {
    font-size: 1.5em;
  }
  span.num {
    font-size: 1.25em;
  }
  span.text {
    font-size: 1em;
  }
  .wrappers {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
  }

  


}

/*===================================== TIMELINE SECTION =====================================*/
.timeline_section {
  line-height: 1.5;
  font-weight: 400;
  color: white;

  /* background: linear-gradient(to top, #c5047e 0%, #5f00dc 100%); */

  background: linear-gradient(0deg, 
            rgba(0,0,0,1) 20%, 
            rgba(67,103,255,1) 35%, 
            rgba(144,179,231,1) 50%, 
            rgba(67,103,255,1) 65%, 
            rgba(0,0,0,1) 
            80%);
}

.line_section {
  display: flex;
  opacity: 0;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: baseline;
  max-height: 300px;
}

.line_section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
  transform: translateX(-50%);
}

.bead_end {
  left: 50%;
  top: 20%;
}

.bead_start {
  left: calc(40% + 1rem);
  top: 20%;
}

.line_section:nth-child(odd) .bead_start {
  left: calc(60% - 1rem);
}

.dotted_line {
  position: absolute;
  border: none;
  border-top: 5px dotted #fff;
  background: transparent;

  height: 0;
  width: calc(10% - 1rem);
  top: -25%;
  right: 50%;
}

.content1 .dotted_line {
  top: calc(-25% + 1rem);
}

.line_section:nth-child(odd) .dotted_line {
  left: 50%;
}

.content {
  /* transform: translateY(-80%); */
  width: calc(50%-2rem);
  word-wrap: break-word;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_title {
  display: flex;
  justify-content: center;
}

/* .long_content {
  word-wrap: break-word;
  width: calc(50%-2rem);
  text-align: center;
}

.long_content h2 {
  color: #fff;
} */

.content h2 {
  color: #fff;
}

.content1 .content_title h2 {
  max-width: 90%;
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}

.timeline_container {
  padding-bottom: 100px;
  margin: 0 auto;
  max-width: 800px;
}

.top-section {
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
}

#timeline-logo {
  width: 70%;
}

.top-section h1 {
  color: #fff;
  text-shadow: 0 0 5px #fff;;
}

.timeline {
  position: relative;
  min-height: 150px;
}

.line {
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
  display: none;
}

.line:before,
.line:after {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
  left: 50%;
  transform: translateX(-50%);
}

.line:after {
  bottom: 0;
}

.count_down {
  display: flex;
  width: 100%; /* Make it responsive */
  max-width: 100vw; /* Ensure it fits the screen */
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 30px;
  background: #000000;
  overflow: hidden; /* Prevent unwanted scrolling */
}



/* responsive page for timeline for medium screen */
@media screen and (max-width: 900px) {
  .line_section h2{
    font-size: 1.5rem;
  }
  .dotted_line {
    top: calc(-25% - 0.25rem);
  }
  .content1 .dotted_line {
    top: calc(-25% + 0.5rem);
  }
  /* count down sector */
  .count_down {
    display: grid;
  }
}

/* responsive page for timeline for small screen */
@media screen and (max-width: 600px) {
  .content {
    width: 10rem;
  }
  .content3 p {
    max-width: 90%;
  }
  .line_section{
    font-size: 0.8rem;
    align-items:center;
  }
  .line_section h2{
    font-size: 0.8rem;
  }
  .dotted_line {
    top: calc(-25% - 0.75rem);
  }
  .content1 .dotted_line {
    top: calc(-25% - 0.5rem);
  }
  /* count down sector */
  .count_down {
    display: flex;
    flex-direction: column;
  }
  .count_down_timer {
    flex-direction: column;
  }
}

.count_down h2 {
  color: #fff;
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.count_down_timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  gap: 30px;
}

.count_down_timer .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle svg {
  position: relative;
  max-width: 100%;
  height: auto;
  transform: rotate(270deg);
}

.count_down_timer .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: #434b53;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.count_down_timer div {
  position: absolute;
  text-align: center;
  font-weight: var(--font-medium);
  color: #fff;
  font-size: 1.5rem;
}

.count_down_timer span {
  position: absolute;
  transform: translateX(-50%) translateY(-5px);
  font-size: 0.35em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.count_down_timer .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.count_down_timer .dots::before {
  content: "";
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}
/*===================================== JUDGE SECTION ============================*/
.judge_mentor {
  position: relative;
  padding-bottom: 10rem;
  overflow: hidden;
  padding-top: 7rem;
  height: 120vh;
  background: linear-gradient(to bottom, 
  rgba(0, 0, 0, 0) 50%, /* Transparent until 30% */
  rgba(24, 41, 85, 0.8) 60%, /* Midpoint */
  #4761A7 100% /* Full color at the bottom */
  );
  padding-bottom: 100px;
}

/* Judges Wrapper */
.judges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  gap: 30px;
  position: relative;
  /* z-index: ; */
}

/* Individual Judge Card */
.judge {
  position: relative;
  text-align: center;
  width: 100%; /* Full width for smaller screens */
  max-width: 200px;
  z-index: 3;
  display: flex;
  flex-direction: column; /* Ensures vertical alignment */
  align-items: center; /* Centers everything */
}

/* Judge Title */
.judge-title {
  position: relative;
  color: white;
  text-align: center;
  font-size: 2rem; /* Scales with screen size */
  z-index: 3;
}

/* Judge Name */
.judge-name {
  position: relative;
  color: white;
  font-size: 1rem;
  margin-top: 10px;
  z-index: 3;
}

/* Paragraph */
p {
  font-size: 1rem;
  opacity: 0.8;
  position: relative;
  z-index: 3;
}

/* Judge Profile (Foreground Image) */
.judge-profile {
  position: absolute;
  top: 38%;
  left: 57%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 120px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  z-index: 4;
}

/* Judge Background (Purple Circle) */
.judge-background {
  width: 230px;
  max-width: 250px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.star{
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 30px;
  width: 8rem;
  color: white;
  z-index: 2;
  transform: translate(-50%, -20%);
}

.design-background {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
}

.coming-soon-container {
  position:relative;
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 5;
}

.coming-soon-text {
  font-size: 35px;
  color: white;
  font-family:'Codec Pro', sans-serif;
  font-weight: bold;
  margin-top: 5rem;
  z-index: 5;
}

.divider {
  width: 80%;
  border: 3px solid white;
  margin: 10px 0;
  opacity: 1;
  z-index: 5;
}

.description {
  font-size: 23px;
  margin-top: 20px;
  opacity: 1;
  max-width: 100%;
  z-index: 5;
}

/*=============== MENTOR SECTION ===============*/
/* Mentor Section */
#mentors {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; Ensure section fills full screen height */
  color: white;
  overflow: hidden;
  padding-bottom: 8rem;
  padding-top: 8rem;
}

/* Background SVG */
.mentor-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Full screen width */
  height: 100vh; /* Full screen height */
  object-fit: cover; /* Ensures SVG fully covers the screen */
  z-index: -1; /* Keeps it behind content */
}

/* Mentor Card */
.mentor-card {
  display: flex;
  align-items: center;
  padding:15px 15px;
}

.mentor-card.left {
  flex-direction: row;
}

.mentor-card.right {
  flex-direction: row-reverse;
}

.mentor-image-container {
  position: relative;
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin-bottom: -60px;
  margin-top:-60px;
}

.mentor-card.left .mentor-image-container{
  margin-left: 0;
  margin-right: -60px;
}

.mentor-card.right .mentor-image-container{
  margin-right: 0;
  margin-left: -60px;
}

.mentor-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding:0;
}

.mentor-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  height: auto;
  z-index: 3;
  border-radius: 50%;
}

.mentor-info-box{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 350px;
  min-height: 150px;
  padding: 20px 60px;
  border-radius: 35px;
  align-items: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
}

.mentor-info-box.right{
  background: linear-gradient(90deg, #d7e7ff 0%, #7a9cff 33%, #4367ff 50%, #2c3b80 75%, #202020 100%);
  align-items: flex-start;
}

.mentor-info-box.left{
  background: linear-gradient(90deg, #202020 0%, #2c3b80 33%, #4367ff 50%, #7a9cff 75%, #d7e7ff 100%);
  align-items: flex-end;
}

.mentor-info h3,
.mentor-info p{
  color: white;
  font-size: 1.7rem;
  font-family:'Codec Pro', sans-serif;
  margin: 5px 0;
  opacity:1;
  text-align:center;
}

.mentor-info h3{
  font-weight: 600;
}

/*=============== MEDIA QUERIES FOR RESPONSIVENESS ===============*/

@media screen and (max-width: 1200px) {
  .design-background{
    top: 60%;
    width: 70%;
  }
  
}
@media (max-width: 1024px) {
  .judges {
    gap: 20px; /* Reduce spacing */
  }

  .judge-profile {
    width: 60%;
    left: 50%;
    max-width: 100px;
  }

  .judge-background {
    width: 90%;
    max-width: 220px;
  }
  .design-background{
    top: 50%;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .judge-profile { 
    left: 47%;
  }
@media screen and (max-width:639px){
  .design-background{
    top:32%;
    width: 140%;
  }

}
@media screen and (max-width:590px) {
  .judges {
    flex-direction: column; /* Stack all judges vertically */
    align-items: center;
  }

  .judge {
    max-width: 250px; /* Allow more width for better layout */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center profile and text */
  }

  .judge-profile {
 
    transform: none; /* Removes centering adjustment */
    margin-top: -50px; /* Adjust positioning on smaller screens */
    width: 80px; /* Resize profile image */
    top: 38% !important;
    left: 33%;
  }

  .judge-background {
    width: 100%;
    max-width: 200px;
  }

  .judge-title {
    font-size: 1.5rem;
  }
}
}



/*===================================== FAQ SECTION =====================================*/
#faq {
  background-image: radial-gradient(circle, 
                  rgba(54, 81, 200, 0.75) -20%,
                  rgba(0,0,0,1) 55%);
}

#faq a {
  text-decoration: none;
  transition: all 0.4s ease-out;
}

#faq a:hover {
  transform: scale(2);
}

.accordion {
  --bs-accordion-border-radius: 15px;
  --bs-accordion-inner-border-radius: 15px;
  --bs-accordion-btn-focus-box-shadow: 0;
  --bs-accordion-border-width: 0;
}

.accordion-item {
  background: linear-gradient(to right, #000000 0%, #4367ff 50%, #90b3e7 100%);
  border-radius: 15px;
}

.accordion-body {
  font-weight: 500;
  background: linear-gradient(to right, #000000 0%, #4367ff 50%, #90b3e7 100%);
  color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.accordion-button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: large;
  color: white;
  transition: all 0.4s ease-out;

  background-image: url(../images/faq_card_cover.png);
  background-size: cover;
  border-radius: 15px;
}

.accordion-button:hover {
  transform: scale(1.08);
  color: #000000;
}

.accordion-button:not(.collapsed) {
  transform: scale(1);
  --bs-accordion-active-color: #2b0963;
  --bs-accordion-active-bg: #eae7f1;
}

/*===================================== Hosts and Partners =====================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


.hostnpartners_title .section_title {
  color: #ffffff;
}

.sponsor-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
}


.diamond-title {
  color: #405fbd;
}

.platinum-title {
  color: #afcfff;
}

.gold-title {
  color: #ffde57;
}

.wrapper {
  margin-top: 2rem;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  width: 200px;
  height: 100px;
  background-color: #475c9a; 
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(200px * 5), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * 5), calc(100% + 200px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}


/*===================================== FOOTER SECTION =====================================*/
footer {
  background-image: linear-gradient(to bottom, 
                  rgba(0,0,0,1) 40%, 
                  rgba(67,103,255,1) 120%);
  margin: 0;
  padding: 12px;
}
.footer-text {
  color: white;
  font-size: 20px;
  padding-left: 60px;
  font-family: "Poppins";
}
.icon-glow {
  transition: 0.5s ease-in-out;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.bottom-text {
  color: white;
  text-align: right;
  font-size: 15px;
  margin-right: 60px;
  font-family: "Poppins";
}
hr {
  border: none;
  background-color: white;
  margin-bottom: -10px;
  margin-top: 60px;
  height: 2px;
  width: 100%;
}
.doc-icon {
  position: relative;
  padding-top: 5px;
  margin: 0;
  padding-bottom: 20px;
  list-style: none;
  padding-left: 0px;
}

.doc-icon a {
  color: #ffffff; /* Document color */
}
.doc-icon li a {
  color: white;
  border-radius: 50px;
  font-size: 30px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 50px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  padding-left: 70px;
}

.social-icon {
  position: relative;
  padding-top: 20px;
  margin: 0;
  padding-left: 0px;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon a {
  color: #ffffff; /* Facebook color */
}

.social-icon a.fa-instagram {
  color: #ffffff; /* Instagram color */
}
.social-icon li a {
  color: white;
  border-radius: 50px;
  font-size: 30px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 10px;
  height: 50px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  margin-left: 70px;
}

a.contact-link {
  color: #999a9bfd;
}

a.contact-link:hover {
  color: #90b3e7;
}

.m0 {
  margin: 0px;
}

.pt {
  padding-top: 30px;
  padding-bottom: 25px;
}

.center {
  text-align: center;
}

.footer ul > li:hover {
  transition: 0.5s ease-in-out;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

/*===================================== BACK TO TOP BUTTON =====================================*/
.go-top {
  background-color: #06104F;
  bottom: 2em;
  right: 2em;
  color: #ffffff;
  font-size: 32px;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: opacity 0.5s;
  border: 1px rgb(255, 254, 254) solid;
  z-index: 99;
}

.go-top:focus {
  background: rgb(189, 118, 255);
  color: #ffffff;
}

.go-top:hover {
  background-color: rgb(189, 118, 255);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* To prevent navbar blocking content */

#home,
#about-us,
#overview,
#timeline,
#faq,
#hosts-and-partners {
  min-height: 100svh;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 100px;
  
}

/* To prevent navbar blocking content */
#home,
#about-us,
#overview,
#timeline,
#faq,
#hosts-and-partners {
  min-height: 100svh;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 100px;
}

/* Default navbar (before scroll) */
#main-nav {
  background: transparent;
  transition: background 0.3s ease-in-out;
}

/* Navbar when scrolled */
.scroll-header {
  background: black !important;  /* Solid black */
  background-image: none !important; /* Ensures no gradient */
  box-shadow: none !important; /* Remove any shadow effects */
}

/* Prevent big gap at the bottom of the section */
@media (min-width: 2000px) {
  #home,
  #about-us,
  #overview,
  #timeline,
  #faq,
  #hosts-and-partners {
    min-height: 1000px;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 100px;
    
  }
}

/*===================================== MILESTONE STAT CARD =====================================*/

.stat-card {
  width: 140px;
  height: 140px;
  background: rgba(255, 255, 255, 0.1); /* Light transparent */
  border-radius: 20px;
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); /* Soft glow */
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-card img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.stat-card h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.stat-card p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}



/*===================================== LOGIN PAGE =====================================*/

.outer-container {
  background-color: #000;
  background-image: url(../images/login-background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.umh-web-link {
  display: flex;
}

.umh-logo {
  align-self: center;
  margin: 20px auto;
  height: 75px;
}

.login-form {
  align-content: center;
  padding: 10px auto;
  margin: 20px auto;
  width: 45%;
  height: 50%;
}

.login-form-background {
  position: absolute;
  opacity: 0.7;
  top: calc(30% - 0.15rem);
  z-index: 0;
}

.login-form-background-img {
  background-image: url(../images/login-form-background.png);
  background-size: cover;
  border-radius: 70px;
  border: none;
  width: 100%;
  height: 100%;
}

.form-box {
  display: flex;
  flex-direction: column;
  position: space-around;
}

.form-item {
  margin: 20px auto;
  color: #fff;
  z-index: 1;
}

.form-item:not(.form-title, .login-icon) {
  box-shadow: 0 15px 10px #00000050;
}

.form-title {
  margin-left: 15%;
  font-size: xx-large;
}

.input-box {
  display: flex;
}

.login-icon {
  width: 45px;
  padding: 10px;
  margin: 20px -45px 20px auto;
  border-width: 10px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 1;
}

.login-input {
  display: flex;
  background-color: #afcfff;
  color: #3b52ce;
  width: 70%;
  padding: 10px 10px 10px 45px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin: 20px auto 20px 0;
  z-index: 0;
}

.login-input:focus, .login-input:active {
  outline: none;
}

.login-input::placeholder {
  color: #3b52ce;
  font-weight: 600;
}

.login-btn {
  background-color: #3b52ce;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 30%;
}

@media screen and (max-width: 1024px) {
  .umh-logo {
    height: 55px;
  }

  .login-form {
    width: 60%;
  }
  
}

@media screen and (max-width: 768px) {
  .umh-logo {
    height: 45px;
  }

  .login-form {
    width: 80%;
  }
  
  .form-title {
    font-size: x-large;
  }
}

/*===================================== SUBMISSION PAGE =====================================*/
.outer-container-submit {
  background-color: #000;
  background-image: url(../images/UMH25-submission-page.png); 
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  
}

.umh-logo-submit {
  align-self: center;
  margin-top: -80px; /* Move logo higher */
  height: 75px;
}

.submit-form {
  background-size: cover;
  color: #fff;
  align-content: center;
  border-radius: 70px;
  padding: 10px auto;
  margin: 20px auto;
  width: 45%;
  height: 50%;
  z-index: 1;
}

.form-box-submit {
  opacity: 200%;
  display: flex;
  position: space-around;
  flex-direction: column;
}

.form-item-submit {
  margin: 10px auto;
  color: #fff;
}

.form-item-submit:not(.form-title, .login-icon) {
  box-shadow: 0 15px 10px #00000050;
}

.form-title-submit {
  margin-left: 15% auto ;
  font-size: xx-large;
  align-self: center;
}

.input-box-submit {
  display: flex;
  align-items: center; /* Align label & input vertically */
  justify-content: flex-start; /* Align them to the left */
  gap: 10px; /* Space between label & input */
  width: 100%; /* Ensure they stretch properly */
  margin-left: -50px;
}


.submit-input {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  
  padding: 10px 10px 10px 45px;
  border: none;

  margin: 20px auto 20px 0;
  z-index: 0;
  width: 80%; /* Adjust width as needed */
  height: 50px; /* Adjust height for the Group Name input */
  padding: 15px 20px;
  border-radius: 30px; /* Make edges rounder */
  font-size: 16px;
}
.link-input {
  height: 250px; /* Adjust height to match the design */
  border-radius: 30px; /* Keep it round */
  resize: none; /* Prevent resizing if not needed */
}

.submit-input:focus, .submit-input:active {
  outline: none;
}
.form-label {
  width: 120px; /* Adjust as needed */
  text-align: right; /* Align text to the right */
  margin-right: 10px;
  
}
.submit-input, .link-input {
  flex-grow: 1; /* Make inputs take remaining space */
  width: auto; /* Prevent fixed widths */
}
.submit-btn {
  background-color: #3b52ce;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 30%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-btn:hover {
  background-color: #2a3ea0; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly enlarge */
}




@media screen and (max-width: 768px) {
  .umh-logo-submit {
    height: 45%;
  }
  
  .form-title-submit {
    font-size: x-large;
  }
}